<header class="wrapper">
  <nav class="nav-content">
    <figure class="logo-content">
      <img src="/assets/images/logo.png" alt="Website logo">
      <h3 class="title-logo">I am Idier</h3>
    </figure>
    <div class="links-content">
      <ul class="links-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="wrapper">
  <div class="wrapper-content">
    <section class="bio">
      <h1 class="biography-title">
        Hello, I'm <br>
        David Rodriguez <br>
        web designer.
      </h1>
      <p>
        
      </p>
    </section>
  </div>
</main>