<header class="wrapper">
  <nav class="nav-content">
    <figure class="logo-content">
      <img src="/assets/images/logo.png" alt="Website logo">
      <h3 class="title-logo">Pai's Folio</h3>
    </figure>
    <div class="links-content">
      <ul class="links-list">
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">About</a>
        </li>
        <li>
          <a href="#">Projects</a>
        </li>
        <li>
          <a href="#">Contact</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<main class="wrapper">
  <div class="wrapper-content">
    <section class="bio">
      <h1 class="biography-title">
        <span class="hello">Hello, I'm</span> <br>
        <span class="name">David Rodriguez</span><br>
        <span class="web">web designer.</span>
        <p>
          We denounce with righteous indignation dislike demoralized by the charms of pleasure
        </p>
      </h1>
      <button class="btn-hire">
        Hire Me
      </button>
    </section>
    <section class="banner">
      <img src="" alt="David's Photo">
    </section>
    <section class="experience">
      <ul class="list-experience">
        <li>
          <span>2+</span>
          <h4>Years Of Experience</h4>
        </li>
        <li>
          <span>3</span>
          <h4>Project Complete</h4>
        </li>
        <li>
          <span>99%+</span>
          <h4>Client Sastifactions</h4>
        </li>
      </ul>
    </section>
  </div>
</main>